html{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: #484848;
    margin: 0;
}

.img{
    object-fit: cover;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

.menu{
    list-style: none;
}

.menu li{
    position: relative;
    float: left;
}

.menu a{
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-size: 0.78em;
}

.menu li ul{
    position: absolute;
    top: 25px;
    display: none;
}
.menu ul{
    padding: 0;
}

.menu li:hover ul, .menu li.over ul{
    display:block;
}


.menu li ul li{
    display:block;    
}

.navbar1{
    position: absolute;
    right: 1%;
    top: 0;
}
.navbar2{
    position: absolute;
    left: 0;
    top: 0;
}

.drop{
    display: flex;
    justify-content: center;
    align-items: center;
}
.drop-box{
    background-color: aliceblue;
    width: auto;
    padding: 1em;
}
.drop-box-drop{
    background-color: #dbdbdb;
    width: 20em;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    transform: translate3d(10em,-1.55em,0em);
    visibility: hidden;
}
#idiomas{
    width: 2em;
}
#idiomas a{
    margin: auto;
}
.drop-box a{
    color: black;
    padding: 0.5em;
}
.drop-item{
    width: 10em;
}
.drop-idi{
    width: auto;
}
.drop-item:hover, .drop-idi:hover{
    background-color: #d8d8d8;
}
.drop-item:hover .drop-box-drop{
    background-color: #ffffff;
    visibility: visible;
}
.drop-idi:hover .drop-box-drop{
    background-color: #ffffff;
    visibility: visible;
}

#icon_drop{
    width: 0.9em;
    height: 0.9em;
    margin: 0em 0.5em;
}
#SoftExpert{
    margin: 1em 0em;
    font-weight: 600;
}
#drop-img{
    background-color: white;
    width: auto;
}

.logo-block{
    text-align: center;
    width: 40em;
}

.logo{
    width: 100%;
}

.subtituto{
    display: inline;
    color: white;
}

.seta{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: auto;
    top: 85%;
    left: 0;
    right: 0;
    z-index: 20;
    background-color: white;
    width: 4em;
    height: 4em;
    border-radius: 10em;
    box-shadow: 0px -1px 2px 0px #686868;
}
.seta-page{
    margin-top: 0.5em;
    transform: rotate(90deg);
    width: 50%;
}


.logo-soft{
    margin: 0em 2em;
}

.frase-efeito{
    text-align: center;
    width: 16em;
    color: white;
}

.bot{
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 22em;
    margin: 1em;
}

.icon-bot{
    width: 1.8em;
    margin: 0px 10px 0px 2px;
}

#bot-solicitar{
    background-color: #DF4B62;
}
#bot-demonstrar{
    background-color: #F80;
}

.bot-txt{
    font-size: 1.5em;
    color: white;
    text-decoration: none;
}


.play-video{
    border: none;
    border-radius: 10em;
    width: 8em;
    height: 8em;
    background-color: #cd384f;
    margin: 20px;
    animation: bot-play 2s infinite;
    cursor: pointer;
}

@keyframes bot-play {
    0%{
        box-shadow: 0px 0px 0px 0px #cd384e94;
    }
    80%{
        box-shadow: 0px 0px 0px 30px #cd384e00;
    }
    100%{
        box-shadow: 0px 0px 0px 30px #cd384e00;
    }
}
.ring{
    border: 5px solid white;
    border-radius: 10em;
    width: 6em;
    height: 6em;
}

.play{
    width: 50%;
    margin-left: 10px;
}
.video-play{
    background-color: white;
    border-radius: 1em;
    padding: 1em;
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 1280px;
    height: 720px;
    z-index: 50;
    visibility: hidden;
}
#video{
    width: 100%;
    height: 100%;
}
.bot-close-video{
    cursor: pointer;;
    position: absolute;
    top: 5px;
    right: 0;
    width: 3em;
    background-color: transparent;
    border: none;
}
.close-video{
    width: 100%;
}


.monitor-block{
    overflow: hidden;
}
.monitor{
    display: block;
    width: 15em;
}
.monitor-img{
    width: 100%;
}
.link-demo{
    margin-top: 10px;
    text-decoration: none;
    color: #484848;
}

.title-page3{
    margin-left: 100px;
    font-size: 2em;
    width: 20em;
}
.txt-page3{
    width: 30em;
    font-weight: 600;
    font-size: 1.3em;
    margin-left: 100px;
    color: #484848;
    text-align: justify;
}

.screen{
    margin-top: 2em;
    color: #798bee;
    font-weight: 100;
    font-size: 2em;
}

.carrosel{
    width: 1300px;
    height: 300px;
    overflow: hidden;
    
}

.cont{
    display: flex;
}
.cont-img{
    background-color: #0091ed;
    width: 18em;
    height: 12em;
    margin: 1em;
    transform: translateX(40em);
    transition: all 0.3s ease-in-out;
    visibility: visible;
    box-shadow: 0px 1px 5px 0px #c0c0c0;
}
.cont-img2{
    background-color: #0091ed;
    width: 18em;
    height: 12em;
    margin: 1em;
    transform: translateX(50em);
    transition: all 0.3s ease-in-out;
    visibility: visible;
    box-shadow: 0px 1px 5px 0px #c0c0c0;
}
.cont-img-fit{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0.2em;
}

#prev{
    border-radius: 10em;
    position: absolute;
    left: 15em;
    z-index: 20;
    width: 4em;
    height: 4em;
    transform: rotate(180deg);
    border: none;
    background-color: #f0f0f0;
    padding: 1em;
}
#next{
    border-radius: 10em;
    position: absolute;
    right: 15em;
    z-index: 20;
    width: 4em;
    height: 4em;
    border: none;
    background-color: #f0f0f0;
    padding: 1em;
}

.seta-slide{
    width: 60%;
}

.cubo-focus{
    position: relative;
}
.cubo{
    position: relative;
    z-index: 20;
}
.focus{
    width: 25em;
    height: 25em;
    background-color: white;
    border-radius: 20em;
    filter: blur(2em);
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 0;
    transform: translate3d(50px, 50px, 0);
}

.txt-area{
    margin-left: 100px;
}
.title-area{
    color: #798bee;
    font-weight: 100;
    font-size: 2em;
}
.txt-list{
    font-size: 1.3em;
}
.txt-list li{
    margin: 1em 0em;
    list-style-image: url(images/checkmark.png);
}

.txt-des{
    width: 70em;
    text-align: justify;
    color: #484848;
}

.continuos{
    color: #798bee;
    font-weight: 100;
}
.arrow-continuos{
    width: 1em;
    margin: 0em 0.5em;
    transition: all 0.3s ease-in-out;
}
.bot-cont{
    background-color: transparent;
    border: none;
}




.block{
    position: relative;
    width: 350px;
    height: 250px;
    margin: 1em;
}
.block:hover > .card{
    transform: rotateY(180deg);
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
}
.card{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
    border-radius: 5px;
    box-shadow: 0px 2px 10px 0px #969696;
}
.card:hover{
    transform: rotateY(180deg);
    box-shadow: 0px 2px 10px 5px #969696;
}
.front{
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
}
.back{
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    border-radius: 5px;
}

.card-img{
    object-fit: cover;
    width: 100%;
    height: 110px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.card-icon{
    width: 100%;
}
.icon-bac{
    width: 2em;
    height: 2em;
    border-radius: 2em;
    padding: 0.5em;
    background-color: #ff4081;
}
.txt-icon{
    color: #ff4081;
    font-weight: 600;
    font-size: 0.9em;
    margin-right: 10px;
}

.icon-txt{
    margin-right: 25px;
    margin-bottom: 10px;
}
.card-txt{
    margin: 1em;
    text-align: justify;
}
.card-button{
    transition: all 0.3s ease-in-out;
    background-color: transparent;
    border: 2px solid orange;
    border-radius: 0.5em;
    width: 150px;
    height: 40px;
}
.card-button:hover{
    transition: all 0.3s ease-in-out;
    background-color: orange;
}
.card-button a{
    color: orange;
    text-decoration: none;
}
.card-button:hover a{
    color: white;
}
.card-link{
    transition: all 0.3s ease-in-out;
    color: #969696;
    text-decoration: none;
    font-size: 0.8em;
    margin-top: 1em;
}
.card-link:hover{
    transition: all 0.3s ease-in-out;
    text-decoration: underline;
}
.destaque-link{
    margin-top: 3em;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    color: #707070;
    padding: 1em 2em;
    border: 1px solid gray;
    border-radius: 0.2em;
    box-shadow: 0px 1px 5px 1px rgb(167, 167, 167);
}

.destaque-link:hover{
    transition: all 0.3s ease-in-out;
    color: white;
    background-color: #707070;
}
.title-conh{
    position: absolute;
    top: 25px;
    color: white;
}
.card-conh{
    margin: 1em;
    width: 300px;
    height: 155px;
    overflow: hidden;
    background-color: white;
    border-radius: 0.5em;
    position: relative;
    top: 30px;
    z-index: 0;
}
.card-conh-img{
    margin-top: 10px;
    display: flex;
    transition: all 0.1s ease-in-out;
    overflow: hidden;
}
.conh-img{
    object-fit: cover;
    width: 85px;
    height: 190px;
    transition: all 0.1s ease-in-out;
}
.card-conh:hover .conh-img{
    transition: all 0.1s ease-in-out;
    transform: translateY(-95px);
}
.fund-conh{
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;
    z-index: 0;
}
.conh-link{
    text-decoration: none;
    color: black;
}
.foot-links{
    margin-top: 2em;
}
.foot-blocks{
    margin: 1em;
    width: 15em;
}
.foot-blocks a{
    text-decoration: none;
    color: #484848;
    margin: 0.3em;
}
.foot-social{
    margin: 1.5em 1em 1em 0em;
}
.contat-foot{
    height: 20px;
    filter: grayscale();
    transition: all 0.3s ease-in-out;
}
.contat-foot:hover{
    transition: all 0.3s ease-in-out;
    filter: none;
}
.foot-button{
    width: 130px;
    height: 40px;
    border: none;
    border-radius: 0.2em;
    color: white;
    background-color: #8c959f;
    transition: all 0.3s ease-in-out;
    margin: 1.5em 0em 0em 0.5em;
}
.foot-button:hover{
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 1px 15px 1px #acacac;

}
.foot-button a{
    color: white;
}
.block-email{
    position: relative;
    width: auto;
}
.foot-email{
    position: relative;
    left: 0em;
    width: 15em;
    padding: 1em;
    background-color: white;
    border: none;
    margin: 0em;
}
.foot-bot{
    position: absolute;
    right: 0em;
    padding: 1em;
    width: 3em;
    height: 3.1em;
    margin: 0em;
    border: none;
    background-color: #1cd07f;
}
.bot-img{
    width: 100%;
}
hr{
    width: 1350px;
    margin: 3em;
}

.direitos{
    margin: 0em;
    color: #707070;
}
.politc{
    text-decoration: none;
    color: #484848;
}
.up-page{
    width: 90%;
    position: absolute;
    margin: auto;
    top: 0em;
    bottom: 0em;
    right: 0em;
    left: 0em;
}
.Modal{
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    width: 700px;
    height: 450px;
    border-radius: 0.2em;
    z-index: 30;
    padding: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}
.modal-head{
    background-color: #484848;
    border-top-left-radius: 0.15em;
    border-top-right-radius: 0.15em;
    height: 100px;
    width: 100%;
    position: absolute;
}
.modal-close{
    position: absolute;
    top: 0;
    right: 0;
    margin: 1em;
    width: 40px;
    height: 40px;
    z-index: 20;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.close-img{
    width: 100%;
}
.modal-title{
    margin-top: 1em;
    color: white;
    font-size: 1.3em;
}
.modal-body{
    width: 500px;
    padding: 5em 5em 2em 5em;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translatey(420px);
}
.modal-obs{
    position: absolute;
    margin: auto;
    top: 110%;
    left: 1em;
}
.label{
    font-size: 1.2em;
    font-weight: 600;
    margin: 1em;
}
.modal-input{
    border-radius: 0.2em;
    width: 100%;
    height: 1em;
    padding: 1em;
}
.ocult{
    visibility: hidden;
}

.bot-enviar{
    padding: 1em 2em;
    background-color: #798bee;
    margin: 2em;
    border-radius: 0.2em;
    text-decoration: none;
    color: white;
}

[data-anime]{
    opacity: 0;
    transition: 0.3s;
}
[data-anime = "up"]{
    transform: translate3d(0, 100px, 0);
}
[data-anime].animated{
    opacity: 1;
    transform: translate3d(0, 0, 0);
    
}
.chat{
    cursor: pointer;
    position: fixed;
    bottom: 2em;
    right: 2em;
    width: 4em;
    height: 4em;
    z-index: 30;
    background-color: #0091ed;
    border-radius: 10em;
    transition: all 0.3s ease-in-out;
}
.chat:hover{
    box-shadow: 0px 1px 10px 0px #a8a8a8;
    transition: all 0.3s ease-in-out;
    animation: tremidinha 0.1s alternate;
}
.chat-icon{
    width: 100%;
    height: 100%;
    border-radius: 10em;
}
.chat-status{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #1cd07f;
    width: 1em;
    height: 1em;
    border-radius: 1em;
}

.chat-open{
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 30;
    width: 25em;
    height: 30em;
    background-color: white;
    border-radius: 0.5em;
    transform: translateY(35em);
    transition: all 0.3s ease-in-out;
}
.chat-head{
    width: 100%;
    height: 6em;
    background-color: #0091ed;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    padding: 1em;
    box-sizing: border-box;
}
.chat-opened{
    position: relative;
    width: 4em;
    height: 4em;
}
.chat-name{
    position: absolute;
    color: white;
    top: 0.5em;
    left: 5em;
}
.chat-online{
    position: absolute;
    color: white;
    top: 2.5em;
    left: 5.8em;
}
.chat-close{
    position: absolute;
    top: -0.5em;
    right: -0.5em;
    width: 2em;
    height: 2em;
}
.chat-bot-close{
    width: 100%;
    height: 100%;
}
.chat-body{
    position: relative;
    width: 100%;
    height: 80%;
    overflow-y: scroll;
}
.chat-img{
    margin: 1em;
    width: 2em;
    height: 2em;
}
.chat-msg{
    position: absolute;
    top: 1em;
    left: 4em;
    background-color: #c4ceda;
    width: 15em;
    border-radius: 0.5em;
    padding: 1em;
}
.chat-msg button{
    border: none;
    border-radius: 1em;
    background-color: #224b64;
    color: white;
    padding: 1em;
    margin: 1em;
}
.chat-msg button p{
    width: 12em;
}
.chat-seta{
    width: 2em;
    height: 2em;
}
.notific{
    position: fixed;
    right: 3em;
    bottom: 7em;
    z-index: 40;
    width: 1.5em;
    height: 1.5em;
    background-color: #ca5c5c;
    border-radius: 4em;
    padding: 0.5em;
    box-shadow: 0px 1px 5px 0px #b3b3b3;
}
.notific img{
    width: 100%;
    height: 100%;
}
.notific-on{
    position: absolute;
    top: -0.2em;
    right: -0.2em;
    background-color: yellow;
    width: 1em;
    height: 1em;
    border-radius: 2em;
    box-shadow: 0px 1px 5px 0px #b3b3b3;
    transition: all 0.3s ease-in-out;
}
.notific:hover{
    transition: all 0.3s ease-in-out;
    animation: tremidinha 0.1s alternate;
}

@keyframes tremidinha{

    0% {
        transform: rotate(-5deg);
    }
    50%{
        transform: rotate(5deg);
    }
    100%{
        transform: rotate(0deg);
    }

}














.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.row-end{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.row-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.row-bet{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}
.row-bet-center{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}
.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.column-start{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.column-bet{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}
.column-bet-center{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.container{
    position: relative;
    margin: auto;
    width: 100%;
    overflow: hidden;
}
#container{
    z-index: 10;
    height: 100vh;
}
#container-light{
    background-color: #fff;
    z-index: 10;
    height: 100vh;
}
#container-semipage-light{
    background-color: #fff;
    z-index: 10;
    padding: 1em 0em;
}
#container-semipage-gray{
    background-color: #ecf5ff;
    z-index: 10;
    padding: 1em 0em;
}
#container-semipage{
    background-color: #484848;
    z-index: 20;
    padding: 1em 0em;
}
#container-semipage2{
    z-index: 20;
    background-color: #eef6ff;
}
.img-print{
    object-fit: cover;
    height: 100vh;
}
#container-semipage3{
    background-color: #0091ed;
    z-index: 20;
    padding: 5em 0em;
}

#container-page{
    background-color: #d4d4d4;
    z-index: 20;
    padding: 10em 0em;
}

#container-page2{
    background-color: #d4d4d4;
    z-index: 20;
    padding: 5em 0em;
}
